/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #fff;
}

#username{
  color: rgb(140, 22, 15);
  font-size: 40px;

}

.flash{
  font-size: 15px;
  padding: auto;
  margin: auto;
  color: red;
}

.head{
  font-size: 15px;
}

table{
  margin: auto;
}

.center{
  text-align: center;
}

.div_form{
  padding: 30px;
}

.div_button{
  padding: 10px;
}


/* モードセレクト画面 ここから */
#modeSelect-container{
  background-color: #ccc;
  width: 90%;
  height: 600px;
  margin: auto;
  background-image: url("topImage.gif");
  background-size: cover;
}

#modeSelect-text{
  text-align: right;
  padding: 20px;
}

#modeSelect-button{
  font-size: 25px;
}
/* ここまで */

/* ステージ画面 ここから */
.stage-UI{
  float: left;
  margin: 0 20px;
}

.stage-Text{
  float: left;
  text-align: left;
  margin: 0 30px;
}
/* ここまで */

/* 取得アイテム一覧画面 ここから */
.weapon-all, .weapon-all tr, .weapon-all td{
  border: 1px solid #000;
}

.weapon-all td{
  padding: 0 10px;
}

.weapon-name{
  background-color: #ddf;
}

.weapon-header{
  background-color: #aaf;
}
/* ここまで */
