<div class="center">
<h1>対戦待機画面</h1>


<%= @login_user.name %>さんがログインしました。
<br>
<%= link_to "戦闘画面へ行く(画面遷移テスト)", battle_path, :class => 'btn btn-default' %>
<br>
<%= link_to "モードセレクト画面に戻る", root_path, :class => 'btn btn-default' %>
</div>
