<div id="modeSelect-container">
  <div id="modeSelect-text">
    <h1>モードセレクト画面</h1>
    <%= link_to "ダンジョン", dungeon_path, :class => 'btn btn-default', :id => 'modeSelect-button' %><br>
    <%= link_to "対戦", matching_path, :class => 'btn btn-default', :id => 'modeSelect-button' %><br>
    <br>
    <%= link_to "ログアウト", logout_url, :class => 'btn btn-default' %>
  </div>
</div>
